.Calculator{
  text-align: center;
  padding: 50px;
}
input{
  padding: 25px;
  margin: 20px;
}
.filling{
  width: 25%;
  border: 1px solid grey;
  margin-bottom: 15px;
}
.container{
  width: 25%;
  margin: auto;
}
#sum{
  width:80%;
  font-size: 40px;
  padding: 0px
}
