.Calculator{
  text-align: center;
  padding: 50px;
}
input{
  padding: 20px;
  margin: 10px;
}
.filling{
  width: 19%;
  border: 1px solid grey;
  margin-bottom: 15px;
}
.container{
  width: 25%;
  margin: auto;
}
#sum{
  width: 90%;
  font-size: 40px;
  padding: 0px;
  border: none;
  background-color: orange;
  color: white;
}
